:root {

  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  
  /* Font-size */
  --font-large: min(150px, 15vw);
  --font-medium: 50px;
  --font-small: 32px;
  --font-xsmall: 16px;
  --font-deleteBtn: 18px;

  /* Font-weight */
  --weight-thin: 100;
  --weight-regular: 500;
  --weight-semibold: 700;
  --weight-bold: 900;
}

.hide {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--color-white);
}

form {
  display: flex;
  justify-content: center;
}

input {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--color-white);
}

input::placeholder {
  color: var(--color-white);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: var(--weight-semibold);
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  /* padding-left: 0; */
}

/* Clock */
.clock {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

.clock__date {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

.clock__time {
  font-weight: var(--weight-bold);
}

.time-session {
  font-size: var(--font-small);
}

.time-time {
  font-size: var(--font-large);
}

/* Greeting */
.greeting {
  text-align: center;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  margin: 50px;
}

.name__form {
  padding: 30px;
}

.name__form-input {
  font-size: var(--font-small);
}

.name__form-button {
  font-size: var(--font-xsmall);
  font-weight: var(--weight-thin);
}

/* Todo */
.todo__form {
  padding: 30px;
}

.todo__form-input {
  font-size: var(--font-xsmall);
}

.todo-list {
  width: 700px;
  min-height: 0px;
  max-height: 400px;
  margin: auto;
  margin-top: 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  column-gap: 20px;
  row-gap: 10px;
  overflow-y: scroll;
}

.todo-list-item {
  width: 250px;
  height: 100px;
  padding: 30px;
  position: relative;
  border: 1px solid var(--color-white);
  border-radius: 8px;
}

.todo-content {
  text-align: center;
}

.todo-list-item button {
 position: absolute;
 top: 15px;
 right: 15px;
 font-size: var(--font-deleteBtn);
}